@import 'global';

// Global styles
body {
	font-family: 'Josefin Sans', sans-serif;
}
* {
	box-sizing: border-box;
}

h2 {
	color: $grey;
	text-align: center;
	font-weight: 400;
	font-size: 2rem;
	margin: 0;
}

h3 {
	font-size: 1.5rem;
	text-align: center;
	font-weight: 400;
	margin: 0;
}

.wrapper {
	width: 1440px;
	max-width: 90%;
	margin: 0 auto;
}

.button {
	border: none;
	border-radius: 50px;
	text-decoration: none;
	color: $white;
	text-align: center;
	font-weight: 700;
	padding: .8rem 2.5rem;
	font-size: 1.1rem;
	margin: 0 1.2rem;
}

.button-small {
	padding: .8rem 1.8rem;
	font-size: .8rem;
}


.button-highlight {
	background-color: $green;
}

.button-secondary {
	background-color: rgba(0, 0, 0, .18);
}

.card {
	width: 28%;
	float: left;		
	border-radius: .5rem;
	padding: 2rem 2rem;
	text-align: center;
	line-height: 1.8;
	color: $grey;
	-webkit-box-shadow: 5px 5px 40px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 5px 5px 40px 0px rgba(0,0,0,0.2);
	box-shadow: 5px 5px 40px 0px rgba(0,0,0,0.2);	
}


// Banner styles
#banner {
	background-image: url(../assets/banner_with_gradients.jpg);
	background-repeat: no-repeat;
	background-size: cover;

	header {
		padding: 2rem 0;
	}

	#logo {
		color: $white;
		float: left;
		font-size: 1.35rem;
		margin: 0;
		span {
			font-weight: 700;
		}
	}

	nav {
		float: right;
		a {
			color: $white;
			text-decoration: none;
			padding-left: 3rem;
			font-size: 1.2rem;
			font-weight: 700;
		}
	}

	.content {
		padding: 12rem 0 5rem 0;
		.title, .subtitle {
			color: $white;
			text-align: center;
		}
		.title {
			font-size: 3rem;
			font-weight: 700;
			margin: 0;
		}
		.subtitle {
			font-size: 2rem;
			font-weight: 400;
			margin-bottom: 7.5rem;
		}
		.button-wrapper {
			text-align: center;
			margin: 3em 0;
		}
	}
}

// Services

#services {
	background-color: $pale-grey;
	padding: 2rem 2rem 21rem;
	position: relative;	

	img {
		width: 55px;
		height:55px;
		position: fixed;
		top: 85%;
		right: 1%;
		border-radius: 50%;
	}

	img:hover, img:focus {
		box-shadow: 0px 0px 20px 0px $green;	
	}

	#inner-wrapper-services {
		padding-top: 100px;
		margin-top: -100px;
	}
}

.service {
	background-color: $pale-purple;
	margin: -5rem 2.5% 0 2.5%;

	h3 {
		padding-bottom: .2rem;
	}
	button {
		margin-top: 1rem;
	}
}

// Portfolio section
#portfolio {
	background-color: $white;
	padding: 3rem 0 3rem 0;

	h2 {
		padding-bottom: 2rem;
	}

	.slideshowContainer {
	    width: 50%;
	    position: relative;
	    margin: 0 21%;
    }

		.mySlide {
		    display: none;
		}

		.prev, .next {
			cursor: pointer;
			position: absolute;
			top: 50%;
			width: auto;
			margin-top: -1.875rem;
			padding: 1rem;
			color: $light-grey;
			font-size: 2rem;
			transition: 0.6s ease;
			border-radius: 0 3px 3px 0;
		}

	/* Position the "left button" to the left and "next button" to the right */

	.prev {
		left: 20px;
	}
	.next {
	    right: -80px;
	    border-radius: 3px 0 0 3px;
	}

	/* On hover, add a black background color with a little bit see-through */
		.prev:hover, .next:hover {
		    background-color: rgba(0,0,0,0.5);
		    color: $white;
		}

	/* The dots/bullets/indicators */
		.dot {
		    cursor:pointer;
		    height: 13px;
		    width: 13px;
		    margin: 0 2px;
		    background-color: #bbb;
		    border-radius: 50%;
		    display: inline-block;
		    transition: background-color 0.6s ease;
		}

		.active, .dot:hover {
		    background-color: $green;
		}
}

/* Fading animation */
	.fade {
	  -webkit-animation-name: fade;
	  -webkit-animation-duration: 1.5s;
	  animation-name: fade;
	  animation-duration: 1.5s;
	}

	@-webkit-keyframes fade {
	  0% {opacity: .4} 
	  100% {opacity: 1}
	}

	@keyframes fade {
	  0% {opacity: .4} 
	  100% {opacity: 1}
	}

// Pricing section
#pricing {
	background-color: $pale-grey;
	padding: 2rem 0 36rem 0;
	

	h2 {
		padding: 1rem 0 5rem;
	}

	h3 {
		color: $grey;
	}

	h4 {
		color: $green;
		font-size: 1.5rem;
		margin: 0;
		font-weight: 400;
	}

	.card {
		background-color: $white;
	}

	.card:last-child {
		position: relative;
		left: -20px;
	}

	.wrapper {
		margin-left: 13%;
	}

	.hightlight {
		background-color: $pale-purple;
		z-index: 2;
		margin: -1.2rem 0 0;
		position: relative;
		left: -10px;;
	}

	li {
		list-style-type: circle;
		text-align: left;
	}
}

// Contact
#contact {
	background-image: url(../assets/contact_with_gradients.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	padding-bottom: 3.5rem;

	h3 {
		padding: 2.5rem 0;
		color: $white;
		span {
			font-weight: 700;
		}
	}

	.formContent {
		background-color: $pale-purple;
		border-radius: 1.25rem;
		width: 35%;
		height: 27rem;
		margin: 0 auto;
		padding: 0 2rem;
		color: $grey;
	}

	input, label {
		display: inline-block;
		width: 100%;
		padding-top: 1.875rem;
		box-sizing: border-box;
		font-size: .85rem;
	}

	input, textarea {
		border: none;
		background-color: $pale-purple;
		border-bottom: 1px solid grey;
		max-width: 100%;
	}

	button {
		display: block;
		margin: 1.5625rem auto 0;
		font-size: 1rem;
	}
}

// Footer 
footer {
	height: 3.2rem;
	background: linear-gradient(to right,$blue, $pink);
	opacity: .5;
	position: relative;
	p {
		color: $white;
		font-size: 1rem;
		font-weight: 700;
		position: absolute;
		margin: 0;
	    top: 50%;
	    left: 50%;
	    margin-right: -50%;
	    transform: translate(-50%, -50%)
	}
	.socialMedia {
		float: right;
		img {
		 	margin-top: 15px;
		 	margin-right: 30px;
			height: 25px;
			width: 25px;
		}		
	}
	.socialMedia:last-child {
		margin-right: 40px;
	}
}

// *****************Modals*****************

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* The Close Button */
.close {
	position: relative;
	top: -60px;
	right: -20px;
    color: #aaa;
    float: right;
    font-size: 2.5rem;
    font-weight: 400;
}

.close:hover,
.close:focus {
    color: $green;
    text-decoration: none;
    cursor: pointer;
}

// Video modal
#videoModal, #webDev, #dev, #seo {
	display: none;
	position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
} 
	
.modal-content-video {
    margin: 10% 20%;
    margin-bottom: 0;
    width: 58%; /* Could be more or less, depending on screen size */

    .close {
		top: -30px;
		right: -10px;
	}
}

// Modal content
.modal-content {
	background-color: #fefefe;
    margin: 10% auto; /* 15% from the top and centered */
    padding: 40px;
    text-align: center;
	line-height: 1.8;
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */

    h3 {
    	background-color: rgba(156,198,179, .5);
    	padding: 15px 0;
    }
}

// Media Queries