body {
  font-family: 'Josefin Sans', sans-serif; }

* {
  box-sizing: border-box; }

h2 {
  color: #737373;
  text-align: center;
  font-weight: 400;
  font-size: 2rem;
  margin: 0; }

h3 {
  font-size: 1.5rem;
  text-align: center;
  font-weight: 400;
  margin: 0; }

.wrapper {
  width: 1440px;
  max-width: 90%;
  margin: 0 auto; }

.button {
  border: none;
  border-radius: 50px;
  text-decoration: none;
  color: #ffffff;
  text-align: center;
  font-weight: 700;
  padding: .8rem 2.5rem;
  font-size: 1.1rem;
  margin: 0 1.2rem; }

.button-small {
  padding: .8rem 1.8rem;
  font-size: .8rem; }

.button-highlight {
  background-color: #9CC6B3; }

.button-secondary {
  background-color: rgba(0, 0, 0, 0.18); }

.card {
  width: 28%;
  float: left;
  border-radius: .5rem;
  padding: 2rem 2rem;
  text-align: center;
  line-height: 1.8;
  color: #737373;
  -webkit-box-shadow: 5px 5px 40px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 5px 5px 40px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 5px 5px 40px 0px rgba(0, 0, 0, 0.2); }

#banner {
  background-image: url(../assets/banner_with_gradients.jpg);
  background-repeat: no-repeat;
  background-size: cover; }
  #banner header {
    padding: 2rem 0; }
  #banner #logo {
    color: #ffffff;
    float: left;
    font-size: 1.35rem;
    margin: 0; }
    #banner #logo span {
      font-weight: 700; }
  #banner nav {
    float: right; }
    #banner nav a {
      color: #ffffff;
      text-decoration: none;
      padding-left: 3rem;
      font-size: 1.2rem;
      font-weight: 700; }
  #banner .content {
    padding: 12rem 0 5rem 0; }
    #banner .content .title, #banner .content .subtitle {
      color: #ffffff;
      text-align: center; }
    #banner .content .title {
      font-size: 3rem;
      font-weight: 700;
      margin: 0; }
    #banner .content .subtitle {
      font-size: 2rem;
      font-weight: 400;
      margin-bottom: 7.5rem; }
    #banner .content .button-wrapper {
      text-align: center;
      margin: 3em 0; }

#services {
  background-color: #f3f3f3;
  padding: 2rem 2rem 21rem;
  position: relative; }
  #services img {
    width: 55px;
    height: 55px;
    position: fixed;
    top: 85%;
    right: 1%; }

.service {
  background-color: #EFE0EC;
  margin: -5rem 2.5% 0 2.5%; }
  .service h3 {
    padding-bottom: .2rem; }
  .service button {
    margin-top: 1rem; }

#portfolio {
  background-color: #ffffff;
  padding: 3rem 0 3rem 0;
  /* Position the "left button" to the left and "next button" to the right */
  /* On hover, add a black background color with a little bit see-through */
  /* The dots/bullets/indicators */ }
  #portfolio h2 {
    padding-bottom: 2rem; }
  #portfolio .slideshowContainer {
    width: 50%;
    position: relative;
    margin: 0 21%; }
  #portfolio .mySlide {
    display: none; }
  #portfolio .prev, #portfolio .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -1.875rem;
    padding: 1rem;
    color: #D9D9D9;
    font-size: 2rem;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0; }
  #portfolio .prev {
    left: 20px; }
  #portfolio .next {
    right: -80px;
    border-radius: 3px 0 0 3px; }
  #portfolio .prev:hover, #portfolio .next:hover {
    background-color: rgba(0, 0, 0, 0.5);
    color: #ffffff; }
  #portfolio .dot {
    cursor: pointer;
    height: 13px;
    width: 13px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease; }
  #portfolio .active, #portfolio .dot:hover {
    background-color: #9CC6B3; }

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s; }

@-webkit-keyframes fade {
  0% {
    opacity: .4; }
  100% {
    opacity: 1; } }

@keyframes fade {
  0% {
    opacity: .4; }
  100% {
    opacity: 1; } }

#pricing {
  background-color: #f3f3f3;
  padding: 2rem 0 36rem 0; }
  #pricing h2 {
    padding: 1rem 0 5rem; }
  #pricing h3 {
    color: #737373; }
  #pricing h4 {
    color: #9CC6B3;
    font-size: 1.5rem;
    margin: 0;
    font-weight: 400; }
  #pricing .card {
    background-color: #ffffff; }
  #pricing .card:last-child {
    position: relative;
    left: -20px; }
  #pricing .wrapper {
    margin-left: 13%; }
  #pricing .hightlight {
    background-color: #EFE0EC;
    z-index: 2;
    margin: -1.2rem 0 0;
    position: relative;
    left: -10px; }
  #pricing li {
    list-style-type: circle;
    text-align: left; }

#contact {
  background-image: url(../assets/contact_with_gradients.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 3.5rem; }
  #contact h3 {
    padding: 2.5rem 0;
    color: #ffffff; }
    #contact h3 span {
      font-weight: 700; }
  #contact .formContent {
    background-color: #EFE0EC;
    border-radius: 1.25rem;
    width: 35%;
    height: 27rem;
    margin: 0 auto;
    padding: 0 2rem;
    color: #737373; }
  #contact input, #contact label {
    display: inline-block;
    width: 100%;
    padding-top: 1.875rem;
    box-sizing: border-box;
    font-size: .85rem; }
  #contact input, #contact textarea {
    border: none;
    background-color: #EFE0EC;
    border-bottom: 1px solid grey;
    max-width: 100%; }
  #contact button {
    display: block;
    margin: 1.5625rem auto 0;
    font-size: 1rem; }

footer {
  height: 3.2rem;
  background: linear-gradient(to right, #7569B8, #FF8AD4);
  opacity: .5;
  position: relative; }
  footer p {
    color: #ffffff;
    font-size: 1rem;
    font-weight: 700;
    position: absolute;
    margin: 0;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%); }
  footer .socialMedia {
    float: right; }
    footer .socialMedia img {
      margin-top: 15px;
      margin-right: 30px;
      height: 25px;
      width: 25px; }
  footer .socialMedia:last-child {
    margin-right: 40px; }

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */ }

/* The Close Button */
.close {
  position: relative;
  top: -40px;
  color: #aaa;
  float: right;
  font-size: 2.5rem;
  font-weight: 400; }

.close:hover,
.close:focus {
  color: #9CC6B3;
  text-decoration: none;
  cursor: pointer; }

#videoModal, #webDev, #dev, #seo {
  display: none;
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */ }

.modal-content-video {
  margin: 10% 20%;
  margin-bottom: 0;
  width: 58%;
  /* Could be more or less, depending on screen size */ }

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  /* 15% from the top and centered */
  padding: 40px;
  border: 1px solid #888;
  width: 50%;
  /* Could be more or less, depending on screen size */ }
