body {
  font-family: 'Josefin Sans', sans-serif; }

* {
  box-sizing: border-box; }

h1
h2 {
  color: #737373;
  text-align: center;
  font-weight: 400;
  font-size: 2rem;
  margin: 0; }

h3 {
  font-size: 1.5rem;
  text-align: center;
  font-weight: 400;
  margin: 0; }

.button {
  border: none;
  border-radius: 50px;
  text-decoration: none;
  color: #ffffff;
  text-align: center;
  font-weight: 700;
  padding: .8rem 2.5rem;
  font-size: 1.1rem;
  margin: 0 1.2rem;
  margin-bottom: 2rem;
  display: inline-block; }

.button-small {
  padding: .8rem 1.8rem;
  font-size: .8rem; }

.button-highlight {
  background-color: #9CC6B3; }

.button-secondary {
  background-color: rgba(0, 0, 0, 0.18); }

.wrapper {
  width: 100%;
  max-width: 90%;
  margin: 0 auto; }

#banner {
  background-image: url(../assets/banner_sml3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center; }
  #banner header {
    padding: 2rem 0; }
  #banner #logo {
    color: #ffffff;
    float: left;
    font-size: 1.3rem;
    margin: 0;
    margin-top: -2px; }
    #banner #logo span {
      font-weight: 700; }
  #banner nav {
    float: right; }
    #banner nav a {
      color: #ffffff;
      text-decoration: none;
      padding-left: 3rem;
      font-size: 1.2rem;
      font-weight: 700; }
  #banner .content {
    padding: 10rem 0 0 0; }
    #banner .content .title, #banner .content .subtitle {
      color: #ffffff;
      text-align: center; }
    #banner .content .title {
      font-size: 2.2rem;
      font-weight: 700;
      margin: 0; }
    #banner .content .subtitle {
      font-size: 1.5rem;
      font-weight: 400;
      margin-bottom: 7.5rem; }
    #banner .content .button-wrapper {
      text-align: center; }

@media screen and (min-width: 480px) and (max-width: 1023px) {
  #banner {
    background-image: url(../assets/banner_med.jpg); }
    #banner .content {
      padding: 10rem 0 1rem 0; }
      #banner .content .title {
        font-size: 3.2rem; }
      #banner .content .subtitle {
        font-size: 2rem; } }

@media screen and (min-width: 1024px) {
  #banner {
    background-image: url(../assets/banner_with_gradients.jpg); }
    #banner .content {
      padding: 12rem 0 5rem 0; }
      #banner .content .title {
        font-size: 3.5rem; }
      #banner .content .subtitle {
        font-size: 2rem; }
      #banner .content .button {
        display: inline;
        margin-bottom: 0; } }

#services {
  background-color: #f3f3f3;
  position: relative; }
  #services .service {
    padding: 4rem 0 2rem;
    border-bottom: 1px solid #D9D9D9; }
    #services .service h3 {
      padding-bottom: 1rem; }
    #services .service button {
      margin: 2rem auto 1rem;
      display: block; }

@media screen and (min-width: 480px) and (max-width: 1023px) {
  #services .service {
    max-width: 70%;
    margin: 0 auto; } }

@media screen and (min-width: 1024px) {
  #services {
    background-color: #f3f3f3;
    padding: 2rem 2rem 25rem;
    position: relative; }
    #services .service {
      background-color: #EFE0EC;
      margin: -3.5rem 2.5% 0 2.5%; }
      #services .service h3 {
        padding-bottom: .2rem; }
      #services .service button {
        margin-top: 1rem; }
    #services .card {
      width: 28%;
      float: left;
      border-radius: .5rem;
      padding: 2rem 2rem;
      text-align: center;
      line-height: 1.8;
      color: #737373;
      -webkit-box-shadow: 5px 5px 40px 0px rgba(0, 0, 0, 0.2);
      -moz-box-shadow: 5px 5px 40px 0px rgba(0, 0, 0, 0.2);
      box-shadow: 5px 5px 40px 0px rgba(0, 0, 0, 0.2); }
    #services #inner-wrapper-services {
      padding-top: 100px;
      margin-top: -100px; } }

#contact {
  background-image: url(../assets/contact_sml.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 3.5rem; }
  #contact h3 {
    padding: 2.5rem 0;
    color: #ffffff; }
    #contact h3 span {
      font-weight: 700; }
  #contact .formContent {
    background-color: #EFE0EC;
    border-radius: 1.25rem;
    width: 100%;
    height: 27rem;
    margin: 0 auto;
    padding: 0 2rem;
    color: #737373; }
  #contact input, #contact label {
    display: inline-block;
    width: 100%;
    padding-top: 1.875rem;
    box-sizing: border-box;
    font-size: .85rem; }
  #contact input, #contact textarea {
    border: none;
    background-color: #EFE0EC;
    border-bottom: 1px solid grey;
    max-width: 100%; }
  #contact button {
    display: block;
    margin: 1.5625rem auto 0;
    font-size: 1rem; }

@media screen and (min-width: 480px) and (max-width: 1023px) {
  #contact {
    background-image: url(../assets/contact_med.jpg); }
    #contact .formContent {
      width: 50%;
      min-width: 25rem; } }

@media screen and (min-width: 1024px) {
  #contact {
    background-image: url(../assets/contact_with_gradients.jpg); }
    #contact .formContent {
      width: 40%;
      min-width: 35rem; } }

footer {
  height: 3.2rem;
  background: linear-gradient(to right, #7569B8, #FF8AD4);
  opacity: .5;
  position: relative; }
  footer p {
    color: #ffffff;
    font-size: 1rem;
    font-weight: 700;
    position: absolute;
    margin-left: 10px; }
  footer .socialMedia {
    float: right; }
    footer .socialMedia img {
      margin-top: 15px;
      margin-right: 20px;
      height: 25px;
      width: 25px; }

@media screen and (min-width: 480px) and (max-width: 1023px) {
  footer p {
    margin: 0;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%); }
  footer .socialMedia img {
    margin-top: 15px;
    margin-right: 20px;
    height: 25px;
    width: 25px; }
  footer .socialMedia:last-child {
    margin-right: 30px; } }

@media screen and (min-width: 1024px) {
  footer p {
    margin: 0;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%); }
  footer .socialMedia img {
    margin-top: 15px;
    margin-right: 30px;
    height: 25px;
    width: 25px; }
  footer .socialMedia:last-child {
    margin-right: 40px; } }
